.page {
  background-color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  max-width: 1280px;
  padding: 0 200px;
}

.header {
  padding-top: 45px;
  padding-bottom: 41px;
  display: flex;
  border-bottom: 1px solid #545454;
}

.header__logo {
  background-image: url(/images/logo_Mesto.svg);
  background-repeat: no-repeat;
  min-width: 142px;
  min-height: 33px;
  align-self: flex-start;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: #fff;
  padding: 40px 0 51px;
}

.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 580px;
}

.profile__avatar {
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__name {
  margin: 0;
  padding-bottom: 16px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__occupation {
  margin: 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 336px;
  width: 100%;
}

.profile__edit-btn {
  padding: 0;
  margin: 0 5px 0 25px;
  background-color: #000;
  background-image: url(/images/pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  min-height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.profile__content {
}

.profile__add-btn {
  padding: 0;
  background-color: #000;
  background-image: url(/images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
}

.gallery {
  padding-bottom: 67px;
}

.gallery__cards {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 17px;
}

.gallery__item {
  max-height: 360px;
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gallery__img {
}

.gallery__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__text {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 25px 0 31px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallary__like-btn {
  padding: 0;
  margin: 0 30px 0 10px;
  background-color: #fff;
  background-image: url(/images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 24px;
  min-height: 19px;
  border: none;
  box-sizing: border-box;
}

.footer__copyright {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}
