.page {
  background-color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  max-width: 880px;
}

.header {
  padding-top: 45px;
  padding-bottom: 41px;
  display: flex;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 945px) {
  .header {
    padding: 28px 0 32px 27px;
  }
}

.header__logo {
  background-image: url(../images/logo_Mesto.svg);
  background-repeat: no-repeat;
  min-width: 142px;
  min-height: 33px;
  align-self: flex-start;
}

@media screen and (max-width: 597px) {
  .header__logo {
    min-width: 104px;
    min-height: 25px;
    background-size: contain;
  }
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #fff;
  padding: 40px 0 51px;
}

@media screen and (max-width: 945px) {
  .profile {
    padding: 40px 19px 51px;
  }
}

@media screen and (max-width: 597px) {
  .profile {
    flex-direction: column;
    flex-basis: 0;
    padding: 37px 0;
  }
}

.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 580px;
}

@media screen and (max-width: 597px) {
  .profile__info {
    /* flex-direction: column; */
    flex-basis: 0;
    padding: 23px 0 36px;
    align-items: baseline;
    justify-content: center;
  }
}

.profile__avatar {
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 597px) {
  .profile__avatar {
    margin: 0;
  }
}

.profile__name {
  margin: 0;
  padding-bottom: 16px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 700px) {
  .profile__name {
    font-size: 4.8vw;
    line-height: 33px;
    text-align: center;
  }
}

@media screen and (max-width: 597px) {
  .profile__name {
    font-size: 27px;
    padding-bottom: 14px;
  }
}

.profile__occupation {
  margin: 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 336px;
  width: 100%;
}

@media screen and (max-width: 597px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

.profile__edit-btn {
  padding: 0;
  margin: 0 5px 0 25px;
  background-color: #000;
  background-image: url(../images/pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  min-height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  transition: linear 0.3s;
}

@media screen and (max-width: 945px) {
  .profile__edit-btn {
    width: 18px;
    min-height: 18px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 597px) {
  .profile__edit-btn {
    margin-left: 10px;
  }
}

.profile__add-btn {
  padding: 0;
  background-color: #000;
  background-image: url(../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  transition: linear 0.3s;
}

@media screen and (max-width: 597px) {
  .profile__add-btn {
    min-width: 282px;
  }
}

.gallery__cards {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 17px;
}

@media screen and (max-width: 597px) {
  .gallery__cards {
    gap: 20px;
  }
}

.gallery__item {
  max-height: 360px;
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gallery__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__text {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 25px 0 31px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallary__like-btn {
  padding: 0;
  margin: 0 30px 0 10px;
  background-color: #fff;
  background-image: url(../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 22px;
  min-height: 19px;
  border: none;
  box-sizing: border-box;
  transition: linear 0.3s;
}

.gallary__like-btn_active {
  background-image: url(../images/heart_black.svg);
}

.footer__copyright {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding-top: 67px;
}

@media screen and (max-width: 945px) {
  .footer__copyright {
    padding: 48px 19px 36px;
  }
}

.btn_hover:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: linear 0.3s;
}
